
note/res/ch04/.ipynb_checkpoints/Ch04.1.3-checkpoint.pdf
note/res/ch04/.ipynb_checkpoints/Ch04.2.2-checkpoint.pdf
note/.ipynb_checkpoints/A.4.Information Theory-checkpoint.ipynb
note/.ipynb_checkpoints/CH01.Artificial Neurons and Neural Networks-checkpoint.ipynb
note/.ipynb_checkpoints/CH04.Statistical Learning-checkpoint.ipynb
note/.ipynb_checkpoints/CH04.Statistical Learning-checkpoint.ipynb
note/.ipynb_checkpoints/CH05.01.Classification-checkpoint.ipynb
note/.ipynb_checkpoints/CH04.Statistical Learning-checkpoint.ipynb
note/.ipynb_checkpoints/CH04.Statistical Learning-checkpoint.ipynb
note/.ipynb_checkpoints/CH04.Statistical Learning-checkpoint.ipynb
note/.ipynb_checkpoints/CH05.02.Linear Models for Classification-checkpoint.ipynb
note/.ipynb_checkpoints/CH04.Statistical Learning-checkpoint.ipynb
note/.ipynb_checkpoints/CH05.03.Linear Models for Classification-checkpoint.ipynb
note/.ipynb_checkpoints/CH04.Statistical Learning-checkpoint.ipynb
note/res/ch05/.ipynb_checkpoints/Ch.5.2.3.Optimization_proof-checkpoint.pdf
note/res/.DS_Store
note/res/.DS_Store
note/res/.DS_Store
note/res/ch05/.DS_Store
.DS_Store
note/.ipynb_checkpoints/A.3.Probability Theory-checkpoint.ipynb
note/res/.DS_Store
note/res/.DS_Store
note/res/.DS_Store
note/res/.DS_Store
